.pokemon-card {
    background-color: #203354;
    border: 1px solid #203354;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 8px;
    min-height: 190px;
    padding: 2px;
    pointer-events: pointer;
    position: relative;
    text-align: center;
    transition: transform 0.3s ease;
    width: 125px;
    z-index: 1;
}

.pokemon-card:hover {
    transform: scale(1.05);
}

.pokemon-card h2 {
    font-size: 18px;
    padding-top: 15px;
    text-transform: capitalize;
}

.pokemon-card img {
    padding-top: 15px;
}
