.pokemon-card {
    background-color: #203354;
    border: 1px solid #203354;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 8px;
    padding: 2px;
    text-align: center;
    transition: transform 0.2s ease;
    width: 125px;
}

.pokemon-card:hover {
    transform: scale(1.05);
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    margin: 8px 0 4px 0;
    text-transform: capitalize;
}