.pokedex-container {
  max-width: 800px;
  margin: 0 auto;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

h1 {
  font-family: 'PokemonSolid', sans-serif;
  font-size: 50px;
  letter-spacing: 6px;
  text-align: center;
  margin: 40px;
}
